/* index.php メインページ */

body {
   width: 100%;
   min-height: 100vh;
   margin: 0;                        
   background-color: rgba(239, 240, 233, 0.003);
   text-align: center;
   /* font-family: "メイリオ", sans-serif; */
   background-image: url(./../images/picture7.jpg);
   background-repeat: no-repeat;
	background-position: center;
   background-size: cover;
}

.all {
   margin: 0 auto 0 auto;
   max-width: 960px;
}

/* メインページ 開始 */
h1 {
   margin: 20px 0 5px 0 ;
   font-size: 30px;
   text-align: center;
}

.logo {
   width: 50px;
   height: 30px;
   margin: 0 10px;
}

.weight-btn {
   width: 80px;
   height: 30px;
   border: 2px solid black;
   margin: 10px 10px;
   padding: 0;
   background-color: rgb(205, 220, 200);
   cursor : pointer;
   /* text-align: center; */
}

.picutre-btn {
   width: 115px;
   height: 30px;
   border: 2px solid black;
   margin: 10px 10px;
   padding: 0;
   background-color: rgb(205, 220, 200);
   cursor : pointer;
   /* text-align: center; */
}

.new-btn {
   width: 115px;
   height: 30px;
   border: 2px solid black;
   margin: 10px 0 10px 10px;
   padding: 0;
   background-color: rgb(205, 220, 200);
   cursor : pointer;
}

h2 {
   display: inline;
   vertical-align: middle;
   /* margin: 30px 0 0 5px; */
   font-size: 25px;
   /* font-weight: bold; */
}

.miyako{
   margin-left: 30px;
}
/* メインページ 終わり */

/* テーブル CSS */
table {
   border-collapse: collapse;
   width: 400px;
   margin-left: auto;
   margin-right: auto;
}

th,td {
   border: 2px solid #878080;
   padding: 4px;
   text-align: center;
}

th {
   background-color: #4e4d509f;
   font-weight: bold;
}

.edit-btn {
   background-color:rgb(231, 223, 73);
   border-radius: 10px;
   cursor : pointer;
}

.delete-btn {
   background:#f00d0d9f;
   border-radius: 10px;
   cursor : pointer;
}

/* td {
   text-align: left;
   padding-left: 30px;
} */

.remaining {
text-decoration: line-through;
color: #ccc;
}

.unit {
   color:red;
}

.unit2 {
   color:orange;
}

/* テーブル CSS 終わり */

/* create.phpページ */
.new-create {
   font-size: 20px;
   margin-left: 30px;
}
.shinki-btn {
   margin-left: 10px;
}
/* create.phpページ 終わり */
