/* index.php メインページ */

/* .modal-header/.modal-body/.modal-content */
.modal {
   width:  250px;
   height: 250px;
   /* width:  40%;
   height: 40%; */
   margin: 0 auto;
   color:gold;
   background:navy;
   font-size: 25px;
   text-align: center;
   line-height: 200px;
   box-shadow: 0 0 10px rgba(25, 25, 25, 0.9);
   position: fixed;
   top: 30%;
   left: 30%;

   animation: otaru 3s forwards;
   /* animation-iteration-count: 1; */
}

@keyframes otaru {
   0% {
      transform: translateY(-60px);
      opacity: 0;
   }
   50% {
      transform: none;
      opacity: 0.7;
   }
   100% {
      transform: none;
      opacity: 1;
      pointer-events: none;
   }
}

.modal_overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.2);
   z-index: 9999;
   /* display: none; */
   /* background: rgba(100, 100, 100, .8); */
   /* background: pink; */
}

.achieve-color {
   color: red;
}

.achieve-color2 {
   color: green;
   background-color: pink;
}

/* body {
   text-align: center;
} */

/* テーブル CSS */
th {
   text-align: left;
   padding-left: 15px;
}

td {
   text-align: left;
   /* padding: 0 0 0 10px; */
   padding-left: 15px;
}

.done {
   text-decoration: line-through;
   color: #ccc;
   color: rgb(15, 40, 208);
   color: red;
}
.my-color {
text-decoration: line-through;
color: #ccc;
}

/* input[type="checkbox"]:checked {
box-shadow: 0 0 0 3px pink;
} */

/* テーブル CSS 終わり */

/* メインページ 開始 */
h1 {
   margin: 0 0 0 30px;
   font-size: 25px;
}
.ishigaki {
   font-size: 20px;
}
.miyako{
   margin-left: 30px;
}
/* メインページ 終わり */

/* create.phpページ */
.new-create {
   font-size: 20px;
   margin-left: 30px;
}
.shinki-btn {
   margin-left: 10px;
}
/* create.phpページ 終わり */
