/* index.php メインページ */

/* body {
   text-align: center;
} */

/* テーブル CSS */
th {
   text-align: left;
   padding-left: 15px;
}

td {
   text-align: left;
   /* padding: 0 0 0 10px; */
   padding-left: 15px;
}

.done {
   text-decoration: line-through;
   color: #ccc;
   color: rgb(15, 40, 208);
   color:red;
}
.remaining {
text-decoration: line-through;
color: #ccc;
}

.unit {
   color:red;
}

.unit2 {
   color:orangered;
}

/* input[type="checkbox"]:checked {
box-shadow: 0 0 0 3px pink;
} */

/* テーブル CSS 終わり */

/* メインページ 開始 */
h1 {
   margin: 0 0 0 30px;
   font-size: 25px;
}
.ishigaki {
   font-size: 20px;
}
.miyako{
   margin-left: 30px;
}
/* メインページ 終わり */

/* create.phpページ */
.new-create {
   font-size: 20px;
   margin-left: 30px;
}
.shinki-btn {
   margin-left: 10px;
}
/* create.phpページ 終わり */
