/* 共通部分 */

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;                        
    text-align: center;
    background-image: url(./../../view/logos/background.jpg);
    background-color: rgba(255, 255, 255, 0.65);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
}

main {
    margin: 0 auto;
    max-width: 960px;
}

.error-log {
    margin: 10px 0 0;
    color: red;
    font-size: 22px;
    font-weight: bold;
}

.register-btn {
    width: 75px;
    height: auto;
    margin: 35px auto 0;
    padding: 2px;
    border: 2px solid rgb(145, 125, 80);
    border-radius: 5px;
    color: black;
    background-color: rgb(90, 160, 210);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.return-btn {
    width: 75px;
    height: auto;
    margin: 35px auto 0;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(245, 250, 245);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.error-font {
    margin: 30px auto 0;
    font-size: 30px;
    font-weight: bold;
}
 
.error-page {
    margin: 25px auto;
    font-size: 22px;
}

.top-page {
    color: rgb(25, 25, 216);
    font-size: 22px;
    text-decoration: none;
}

/* 共通部分 */

/* index.php */

.main-title {
    margin: 35px auto 0;
    height: 50px;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 33px;
}

.main-title > img {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px 3px;
    vertical-align: -7px;
}

.ideal-weight {
    display: inline-block;
    margin: 14px 8px 0 0;
    font-size: 23px;
    font-weight: bold;
}

.goal-weight {
    display: inline-block;
    margin: 14px 0 0;
    padding: 2px 10px;
    background-color: rgb(220, 220, 220); 
    font-size: 22px;
    font-weight: bold;
}

.achieve {
    margin: 10px auto 0;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.little {
    color: orange;
}

.ideal-day {
    margin: 10px 0 0;
    font-size: 20px;
    font-weight: bold;
}

.weight-sheet {
    width: 280px;
    height: 35px;
    line-height: 35px;
    margin: 10px auto 0;
    border-radius: 10px;
    color: rgb(207, 73, 28);
    background-color: rgba(220, 220, 220, 0.75);
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 1.5px;
}

.btns {
    margin-top: 22px;
}

.weight-btn, .reset {
    width: 90px;
    height: 35px;
    margin-right: 20px;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(205, 220, 200);
    font-size: 18px;
    cursor : pointer;
}

.reset {
    width: 120px;
}

.picutre-btn {
    width: 160px;
    height: 35px;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(205, 220, 200);
    font-size: 18px;
    cursor: pointer;
}

.todo-title {
    margin: 20px auto 0;
}

h2 {
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 23px;
    vertical-align: middle;
}

.new-btn {
    width: 90px;
    height: 35px;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(205, 220, 200);
    font-size: 18px;
    cursor : pointer;
    vertical-align: middle;
}

/* todo table */

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 720px;
    height: auto;
    margin: 25px auto 0;
    font-size: 20px;
    text-align: center;
}

input[type=checkbox] {
	transform: scale(1.3);
    margin: 0;
    cursor : pointer;
}

table th:nth-child(1) {
    width: 30px;
}

table th:nth-child(4) {
    width: 80px;
}

table th:nth-child(5) {
    width: 80px;
}

.done {
    color: rgb(200, 200, 200);
    text-decoration: line-through;
}

th,td {
    border: 3px solid rgb(75, 75, 75);
}

th {
    padding: 3px 4px;
    background-color: rgb(180, 215, 220);
    font-size: 18px;
}

td {
    height: auto;
    padding: 3px 2px;
    background-color: rgb(165, 165, 165);
    word-wrap : break-word;
    overflow-wrap : break-word;
}

.edit-btn {
    width: 65px;
    height: 28px;
    margin: 0 auto 3px;
    border-radius: 5px;
    color: black;
    background-color: rgb(230, 225, 75);
    font-size: 15px;
    cursor: pointer;
}

.delete-btn {
    width: 65px;
    height: 28px;
    margin: 0 auto 3px;
    border-radius: 5px;
    color: black;
    background: rgb(205, 40, 20);
    font-size: 15px;
    cursor: pointer;
}

.todo {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 2px 2px 4px gray; 
}

/* todo table */

/* 一言メッセージ */

.postcreate {
    margin: 20px 0 0;
}

.postcreate > span {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.post-btn {
    width: 90px;
    height: 35px;
    margin: 0 10px;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(10, 200, 210);
    font-size: 17px;
    font-weight: bold;
    cursor : pointer;
}

.postdlt-btn {
    width: 65px;
    height: 35px;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(225, 45, 25);
    font-size: 17px;
    font-weight: bold;
    cursor : pointer;
}

.message {
    width: 450px;
    height: auto;
    margin: 20px auto 50px;
    border: dashed 2px white;
    border-radius: 8px;
    background-color: rgb(31, 175, 186);
    box-shadow: 8px 8px 5px rgba(0,0,0,0.3);
}

.post {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.5px;
    white-space: pre-wrap;
}

/* 一言メッセージ */

/* index.php */

/* create.php & eidt.php */

.outline {
    margin: 5% auto 0;
    font-size: 28px;
    font-weight: bold;
}

.title {
    margin: 50px auto 0;
    color: rgb(80, 80, 80);
    font-size: 22px;
    font-weight: bold;
}

.title-input {
    width: 300px;
    height: 25px;
    margin: 10px auto 0;
    padding: 3px 5px;
    font-size: 18px;
    border: 3px solid rgba(55, 55, 55, 0.8);
    border-radius: 5px;
    outline-color: blue;
}

/* create.php & eidt.php */

/* weight.php */

.body-title {
    margin: 40px auto 0;
    font-size: 25px;
    font-weight: bold;
}

.weight-input {
    width: 125px;
    height: 35px;
    margin: 0;
    padding: 2px;
    border: 2px solid rgb(95, 90, 90);
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    outline-color: blue;
}

.day-input {
    width: 170px;
    height: 35px;
    padding: 2px;
    border: 2px solid rgb(95, 90, 90);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline-color: blue;
}

/* weight.php */

/* weightlist.php */

.list {
    border-collapse: collapse;
    table-layout: fixed;
    width: auto;
    height: auto;
    margin: 25px auto 0;
}

.list th,td {
    width: 140px;
}

.list th {
    height: 35px;
    padding: 0;
    background-color: rgb(138, 228, 242);
    border: 1.5px solid rgb(75, 75, 75);
    font-size: 18px;
}

.list td {
    height: 30px;
    padding: 2px;
    background-color: rgb(243, 243, 243);
    border: 1.5px solid rgb(75, 75, 75);
    font-size: 17px;
}

.no-lists {
    width: 350px;
    margin: 20px auto 0;
    color: rgb(87, 117, 118);
    font-size: 22px;
    font-style: oblique;
    text-shadow: 1px 1px 2px rgb(185, 185, 185);
}

/* weightlist.php */

/* post.php */

textarea {
    display: block;
    width: 350px;
    height: 180px;
    margin: 25px auto 0;
    padding: 5px 8px;
    border: 3px solid black;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    resize: none;
    white-space: pre-wrap;
    outline-color: blue;
}

/* post.php */

/* file.php */

.file-input {
    width: 310px;
    height: 40px;
    margin: 25px auto 0;
    font-size: 18px;
}

.memo-group {
    margin: 30px auto 0;
}

.memo {
    margin: 0 auto;
    font-size: 20px;
    font-style: oblique;
}

.comment {
    display: inline-block;
    width: 300px;
    height: 80px;
    margin: 20px auto 0;
    padding: 5px 8px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    resize: none;
    white-space: pre-wrap;
    outline-color: blue;
}

.file-btn {
    width: 130px;
    height: auto;
    margin: 20px auto 0;
    padding: 3px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color: rgb(70, 210, 10);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

ul {
    margin: 25px auto 0;
    padding: 0px;
    list-style-type: none;
}

li {
    width: 700px;
    margin: 0 auto;
    border-top: 2.5px solid rgb(150, 215, 220);
}

img {
    width: 300px;
    height: 360px;
    margin: 20px auto;
    text-align: center;
}

li > div {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

.list-memo {
    margin: 20px auto 0;
    color: rgb(40, 35, 60);
    font-size: 22px;
}

.list-comment {
    width: 300px;
    height: 30px;
    margin: 20px auto 0;
    padding: 3px 5px;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: rgb(215, 210, 210);
    font-size: 19px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
    white-space: pre-wrap;
}

.filedlt-btn {
    width: 65px;
    height: 30px;
    margin: 30px 0 0;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    background-color:rgb(225, 45, 25);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/* file.php */

/* スマートフォン向け */

@media (max-width: 767px) {

    /* 共通部分 */

    .error-log {
        margin-top: 5px;
        font-size: 20px;
    }

    .register-btn {
        width: 62px;
        font-size: 16px;
    }

    .return-btn {
        width: 62px;
        font-size: 16px;
    }

    /* 共通部分 */

    /* index.php */

    .main-title {
        margin-top: 23px;
        height: 43px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .main-title > img {
        width: 28px;
        height: 28px;
        vertical-align: -4px;
    }

    .ideal-weight {
        margin-top: 10px;
        font-size: 20px;
    }

    .goal-weight {
        margin-top: 8px;
        padding: 2px 8px;
        font-size: 17px;
    }

    .ideal-day {
        font-size: 18px;
    }

    .achieve {
        margin-top: 8px;
        font-size: 18px;
    }
        
    .little {
        font-size: 18px;
    }

    .weight-save {
        font-size: 22px;     
    }

    .btns {
        margin-top: 17px;
    }

    .weight-btn, .reset {
        width: 80px;
        height: 30px;
        font-size: 15px;
    }

    .reset {
        width: 100px;
    }

    .picutre-btn {
        width: 140px;
        height: 30px;
        font-size: 15px;
    }

    h2 {
        display: block;
        margin: 0;
        font-size: 20px;
    }

    .new-btn {
        width: 80px;
        height: 30px;
        margin: 10px auto 0;
        font-size: 15px;
    }

    /* テーブル  */

    table {
        width: 92%;
        margin-top: 20px;
    }

    input[type=checkbox] {
        transform: scale(1);
        margin: 0 auto;
    }

    table th:nth-child(1) {
        width: 15px;
    }

    table th:nth-child(4) {
        width: 60px;
    }

    table th:nth-child(5) {
        width: 60px;
    }

    th,td {
        border: 2px solid rgb(75, 75, 75);
    }

    th {
        font-size: 15px;
    }

    td {
        padding: 2px;
        font-size: 16px;
    }

    .edit-btn {
        width: 50px;
        height: auto;
        font-size: 12px;
    }

    .delete-btn {
        width: 50px;
        height: auto;
        font-size: 12px;
    }

    /* テーブル */

    /* 一言メッセージ */

    .postcreate > span {
        display: block;
        font-size: 18px;
    }

    .post-btn {
        width: 80px;
        height: 30px;
        margin: 10px 10px 0 0;
        font-size: 15px;
    }

    .postdlt-btn {
        width: 55px;
        height: 30px;
        font-size: 15px;
    }

    .message {
        width: 310px;
        margin-bottom: 35px;
    }

    .post {
        font-size: 15px;
        letter-spacing: 0;
    }

    /* 一言メッセージ */

    /* index.php */

    /* create.php & eidt.php */

    .outline {
        margin-top: 30px;
        font-size: 30px;
    }

    .title {
        margin-top: 30px;
    }

    .title-input {
        width: 250px;
        height: 20px;
        padding: 4px 6px;
        font-size: 15px;
    }

    /* create.php & eidt.php  */

    /* weight.php */

    .body-title {
        margin-top: 35px;
        font-size: 21px;
    }

    .weight-input {
        width: 100px;
        height: 28px;
        font-size: 20px;
    }

    .day-input {
        width: 150px;
        height: 29px;
        font-size: 18px;
    }

    /* weight.php */

    /* weightlist テーブル  開始 */

    .list th,td {
        width: 110px;
    }

    .list th {
        height: 30px;
        font-size: 16px;
    }

    .list td {
        height: 27px;
        font-size: 15px;
    }

    .no-lists {
        width: 300px;
        font-size: 20px;
    }

    /* weightlist テーブル  */

    /* post.php  開始 */

    textarea {
        width: 300px;
        height: 130px;
        margin-top: 20px;
        border: 1.5px solid black;
    }

    /* post.php  */

    /* file.php  開始 */

    .file-input {
        width: 260px;
        height: 35px;
        font-size: 15px;
    }

    .memo-group {
        margin-top: 20px;
    }

    .memo {
        font-size: 18px;
    }

    .comment {
        width: 250px;
        height: 70px;
    }

    .file-btn {
        width: 100px;
        padding: 1px;
        font-size: 15px;
    }

    li {
        width: 90%;
    }

    img {
        display: block;
        width: 230px;
        height: 250px;
        margin-bottom: 0;
    }

    li > div {
        margin: 20px auto;
    }

    .list-memo {
        margin: 0;
        font-size: 18px;
    }

    .list-comment {
        width: 230px;
        height: 25px;
        margin-top: 10px;
        padding: 2px;
        font-size: 16px;
    }

    .filedlt-btn {
        width:55px;
        margin: 15px 0 0;
        font-weight: normal;
    }

    /* file.php  */
}

@media (max-width: 499px) {

    .error-font {
        margin-top: 45px;
        font-size: 23px;
    }
     
    .error-page {
        font-size: 19px;
    }
    
    .top-page {
        font-size: 18px;
    }

    .weight-sheet {
        width: 225px;
        height: 28px;
        line-height: 28px;
        font-size: 15px;
        letter-spacing: 0;
    }

    .btns {
        display: block;
        width: 300px;
        margin: 17px auto 0;
    }

    .weight-btn, .reset,.picutre-btn {
        margin: 7px;
    }
   
    .list th,td {
        width: 82px;
    }
    
    .list th {
        height: 25px;
        font-size: 14px;
        border: 1px solid rgb(75, 75, 75);
    }
    
    .list td {
        height: 25px;
        padding: 0;
        font-size: 13px;
        border: 1px solid rgb(75, 75, 75);
    }

}