[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin
lower_case_table_names=1
default-time-zone = 'Asia/Tokyo'
connect_timeout=3600

[client]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8

[mysql]
default-character-set=utf8mb4